@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.logoloop::-webkit-scrollbar {
  display: none;
}
.logoloop {
  overflow: auto !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: white; /* biar kelihatan di dark background */
}

body {
  pointer-events: auto !important;
}

.squares-canvas {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  position: absolute;
}

.beams-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

@media (max-width: 600px) {
  .main-sidebar {
    position: fixed;
    top: 0;
    z-index: 9999;
    left: -200px;
    height: 100vh;
    border-radius: 0;
  }
  .activeMobileSidebar {
    left: 0;
  }
  .toggler {
    position: fixed;
    top: 10px;
    z-index: 9999;
    left: 18px;
  }
  .toggler div {
    border-radius: 10px;
  }
}


@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}
@keyframes marqueeMiss {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.animate-marquee {
  display: flex;
  animation: marquee 25s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

.animate-marquee-miss {
  display: flex;
  animation: marqueeMiss 25s linear infinite;
}

.animate-marquee-miss:hover {
  animation-play-state: paused;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --bg-white: hsla(0, 0%, 100%, 1);
    --bg-black: hsla(0, 0%, 0%, 1);
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 1000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/*-----------------------------------*\
  #PRELOADER
\*-----------------------------------*/

body.loaded { overflow-y: auto; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-shadow: inset 55vw 0 0 0 var(--bg-white),
              inset -55vw 0 0 0 var(--bg-white);
  display: grid;
  place-items: center;
  z-index: 99999999;
}

.preloader.loaded {
  transition: 300ms ease 500ms;
  pointer-events: none;
  box-shadow: inset 0 0 0 0 var(--bg-white),
              inset 0 0 0 0 var(--bg-white);
}

.preloader .line {
  width: 1px;
  height: 100%;
  background-color: var(--bg-black);
  transition: var(--transition-2);
  animation: loading 1000ms linear forwards;
}

@keyframes loading {
  0% { transform: scaleY(0); }
  100% { transform: scaleY(0.3); }
}

.preloader.loaded .line { animation: loaded 500ms ease forwards; }

@keyframes loaded {
  0% { transform: scaleY(0.3); }

  100% {
    transform: scaleY(1);
    opacity: 0;
  }
}

.btn-77,
.btn-77 *,
.btn-77 :after,
.btn-77 :before,
.btn-77:after,
.btn-77:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-77 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.btn-77:disabled {
  cursor: default;
}
.btn-77:-moz-focusring {
  outline: auto;
}
.btn-77 svg {
  display: block;
  vertical-align: middle;
}
.btn-77 [hidden] {
  display: none;
}
.btn-77 {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  border: 1px solid;
  box-shadow: 0 0 0 2em transparent;
  box-sizing: border-box;
  -webkit-mask-image: none;
  /* position: relative; */
  text-transform: uppercase;
}
@media (max-width: 400px) {
  .btn-77 {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}

.button-reminder-like {
  position: absolute;
  left: -120px;
  top: -90px;
  width: 120px;
  height: auto;
  z-index: 9999;
  border-radius: 10px 10px 0 10px;
}

.fade-out-like {
  animation: fadeOutLike 10s ease-in-out forwards;
}
@keyframes fadeOutLike {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}